<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>0906_Javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.atguigu.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidUserNameServlet</display-name>
    <servlet-name>ValidUserNameServlet</servlet-name>
    <servlet-class>com.atguigu.web.servlet.ValidUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidUserNameServlet</servlet-name>
    <url-pattern>/valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.atguigu.web.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.atguigu.web.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/queryAllEmps</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.atguigu.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter2</display-name>
    <filter-name>LoginFilter2</filter-name>
    <filter-class>com.atguigu.web.filter.LoginFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter2</filter-name>
    <url-pattern>/testJs.html</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.atguigu.web.linstener.SessionLinstener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>HandleAjaxServlet</display-name>
    <servlet-name>HandleAjaxServlet</servlet-name>
    <servlet-class>com.atguigu.web.servlet.HandleAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleAjaxServlet</servlet-name>
    <url-pattern>/sendAjax</url-pattern>
  </servlet-mapping>
</web-app>